#explore-text {
    color:rgb(233, 60, 60);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

#link {
    text-align: center;
}
.recipe-title,
.recipe-text
{
    color: #d61515;
    background-color: hsl(120, 98%, 76%)
}

.recipe-title, 
.recipe-subheader {
    font-family: cursive;
    text-align: center;
}

.recipe-title {
    font-size: 38px;
}

.recipe-text {
    font-size: 19px;
}

.recipe-subheader {
    color: hsl(120, 98%, 76%);
    background-color: #e96161;

}