
#link {
    text-align: center;
}
.recipe-header,
.recipe-text
{
    color: #d61515;
    background-color: hsl(120, 98%, 76%)
}

.recipe-header, 
.recipe-header2 {
    font-family: cursive;
    text-align: center;
}

.recipe-header{
    font-size: 38px;
}

.recipe-text {
    font-size: 19px;
}

.recipe-header2{
    color: hsl(120, 98%, 76%);
    background-color: #e96161;
    font-size: 22px;
}